body {
    background-color: #3D405B;
}


.titleContainer{
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;


}

.img {
    background-image: url(../images/logoExample.psd);
}